.app {
   background-color: #f5f4fb;
   min-height: 100vh;
   display: flex;
   flex-direction: column;
   width: 100%;
   align-items: center;
   position: relative;
}
.section{
   margin-top: 100px;
}